<%- include('header.ejs') %>

    <div class="blog-home">
        <div class="blog-home-header">
            <h1>Blog Articles</h1>
            <p>Search
            <input type="text" id="search-box" onkeyup="sendData(this)"/></p>
            <section id="searchResults">
            </section>
            <button class="blog-home-btn"><a href="/articles/new">New Article</a></button>
        </div>

        <% articles.forEach(article => {%>
            <div>
                <div class="blog-home-article">
                    <h4 class="blog-home-article-title"><%= article.title %></h4>
                    <div class="blog-home-article-date">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="blog-home-article-description"><%= article.description %></div>
                    <div class="blog-home-article-btns">
                        <button class="article-read-btn"><a href="articles/<%= article.slug %>">Read More</a></button>
                        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="article-delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <%})%>
    </div>

    <script>
        function sendData(e) {
            const searchResults = document.getElementById('searchResults');
            let match = e.value.match(/\s*/);
            if(match[0] === e.value) {
                searchResults.innerHTML = '';
                return;
            }
            fetch('/getArticles', {
                method: 'POST',
                headers: {'Content-Type': "application/json"},
                body: JSON.stringify({payload: e.value})
            }).then(res => res.json()).then(data=>{
                let payload = data.payload;
                console.log(payload);
                searchResults.innerHTML = "";
                if(payload.length < 1){
                    searchResults.innerHTML = '<p>Sorry. Nothing matches your search</p>'
                    return;
                }
                payload.forEach((item, index) => {
                    if(index > 0) searchResults.innerHTML += `<p><a href=/articles/${item.slug}>${item.title}</a></p>`;
                });
                return;
            });
        }
    </script>
</body>
</html>