<%- include('header.ejs') %>

    <div class="article">
        <h1><%= article.title %></h1>
        <div><%= article.createdAt.toLocaleDateString() %></div>
        <div class="article-buttons">
            <button class="article-btn"><a href="/">All Articles</a></button>
        </div>

        <div class="article-text">
            <%= article.content %>
        </div>

        <!--Comments Section-->
        <div>
            <h3>Comments:</h3>
            <%= article.comment %>
            <p>--- <%= article.name %></p>
        </div>

        <!--Like button-->
        <div class="like-btn">
            <button id="like" class="like" onclick="liked()">
                <i class="fa fa-thumbs-up"></i>
                <span class="icon">Like</span>
            </button>
        </div>

        <!--Comments form-->
        <div class="comment-form">
            <h5 class="comment-form-header">Leave a comment:</h5>
            <div class="comment-form-body">
                <form action="/articles/<%= article.id %>?_method=PUT" method="post">
                    <input type="hidden" name="article-id" value="<%= article.id %>"/>
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Name"/>
                    </div>
                    
                    <div class="form-group">
                        <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="Comment"></textarea>
                    </div>
                    <button type="submit" class="comment-submit-btn">Submit</button>
                </form>
            </div>
        </div>

        <script>
            function liked() {
                var element = document.getElementById("like");
                element.classList.toggle("liked");
            }
        </script>
    </div>
</body>
</html>